In [3]:
import pandas as pd

# Load your dataset from the correct path
file_path = r"C:\Users\elean\OneDrive - University of Virginia\Documents\DS 3001\Midterm\absolute-number-of-deaths-from-ambient-particulate-air-pollution.csv"

df = pd.read_csv(file_path)

# Preview the first few rows
df.head()

,Entity,Code,Year,Deaths - Cause: All causes - Risk: Outdoor air pollution - OWID - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: High systolic blood pressure - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Diet high in sodium - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Diet low in whole grains - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Alcohol use - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Diet low in fruits - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Unsafe water source - Sex: Both - Age: All Ages (Number),...,Deaths - Cause: All causes - Risk: High body-mass index - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Unsafe sanitation - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: No access to handwashing facility - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Drug use - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Low bone mineral density - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Vitamin A deficiency - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Child stunting - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Discontinued breastfeeding - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Non-exclusive breastfeeding - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Iron deficiency - Sex: Both - Age: All Ages (Number)
0,Afghanistan,AFG,1990,3169,25633,1045,7077,356,3185,3702,...,9518,2798,4825,174,389,2016,7686,107,2216,564
1,Afghanistan,AFG,1991,3222,25872,1055,7149,364,3248,4309,...,9489,3254,5127,188,389,2056,7886,121,2501,611
2,Afghanistan,AFG,1992,3395,26309,1075,7297,376,3351,5356,...,9528,4042,5889,211,393,2100,8568,150,3053,700
3,Afghanistan,AFG,1993,3623,26961,1103,7499,389,3480,7152,...,9611,5392,7007,232,411,2316,9875,204,3726,773
4,Afghanistan,AFG,1994,3788,27658,1134,7698,399,3610,7192,...,9675,5418,7421,247,413,2665,11031,204,3833,812

In [4]:
# See the structure of your dataset
df.info()

# Look at column names
print(df.columns.tolist())

# Check if there are missing values
df.isnull().sum()

# View a sample of rows
df.sample(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6840 entries, 0 to 6839
Data columns (total 31 columns):
 #   Column                                                                                                            Non-Null Count  Dtype
---  ------                                                                                                            --------------  -----
 0   Entity                                                                                                            6840 non-null   object
 1   Code                                                                                                              6150 non-null   object
 2   Year                                                                                                              6840 non-null   int64
 3   Deaths - Cause: All causes - Risk: Outdoor air pollution - OWID - Sex: Both - Age: All Ages (Number)              6840 non-null   int64
 4   Deaths - Cause: All causes - Risk: High systolic blood pressure - Sex: Both - Age: All Ages (Number)              6840 non-null   int64
 5   Deaths - Cause: All causes - Risk: Diet high in sodium - Sex: Both - Age: All Ages (Number)                       6840 non-null   int64
 6   Deaths - Cause: All causes - Risk: Diet low in whole grains - Sex: Both - Age: All Ages (Number)                  6840 non-null   int64
 7   Deaths - Cause: All causes - Risk: Alcohol use - Sex: Both - Age: All Ages (Number)                               6840 non-null   int64
 8   Deaths - Cause: All causes - Risk: Diet low in fruits - Sex: Both - Age: All Ages (Number)                        6840 non-null   int64
 9   Deaths - Cause: All causes - Risk: Unsafe water source - Sex: Both - Age: All Ages (Number)                       6840 non-null   int64
 10  Deaths - Cause: All causes - Risk: Secondhand smoke - Sex: Both - Age: All Ages (Number)                          6840 non-null   int64
 11  Deaths - Cause: All causes - Risk: Low birth weight - Sex: Both - Age: All Ages (Number)                          6840 non-null   int64
 12  Deaths - Cause: All causes - Risk: Child wasting - Sex: Both - Age: All Ages (Number)                             6840 non-null   int64
 13  Deaths - Cause: All causes - Risk: Unsafe sex - Sex: Both - Age: All Ages (Number)                                6840 non-null   int64
 14  Deaths - Cause: All causes - Risk: Diet low in nuts and seeds - Sex: Both - Age: All Ages (Number)                6840 non-null   int64
 15  Deaths - Cause: All causes - Risk: Household air pollution from solid fuels - Sex: Both - Age: All Ages (Number)  6840 non-null   int64
 16  Deaths - Cause: All causes - Risk: Diet low in vegetables - Sex: Both - Age: All Ages (Number)                    6840 non-null   int64
 17  Deaths - Cause: All causes - Risk: Low physical activity - Sex: Both - Age: All Ages (Number)                     6840 non-null   int64
 18  Deaths - Cause: All causes - Risk: Smoking - Sex: Both - Age: All Ages (Number)                                   6840 non-null   int64
 19  Deaths - Cause: All causes - Risk: High fasting plasma glucose - Sex: Both - Age: All Ages (Number)               6840 non-null   int64
 20  Deaths - Cause: All causes - Risk: Air pollution - Sex: Both - Age: All Ages (Number)                             6840 non-null   int64
 21  Deaths - Cause: All causes - Risk: High body-mass index - Sex: Both - Age: All Ages (Number)                      6840 non-null   int64
 22  Deaths - Cause: All causes - Risk: Unsafe sanitation - Sex: Both - Age: All Ages (Number)                         6840 non-null   int64
 23  Deaths - Cause: All causes - Risk: No access to handwashing facility - Sex: Both - Age: All Ages (Number)         6840 non-null   int64
 24  Deaths - Cause: All causes - Risk: Drug use - Sex: Both - Age: All Ages (Number)                                  6840 non-null   int64
 25  Deaths - Cause: All causes - Risk: Low bone mineral density - Sex: Both - Age: All Ages (Number)                  6840 non-null   int64
 26  Deaths - Cause: All causes - Risk: Vitamin A deficiency - Sex: Both - Age: All Ages (Number)                      6840 non-null   int64
 27  Deaths - Cause: All causes - Risk: Child stunting - Sex: Both - Age: All Ages (Number)                            6840 non-null   int64
 28  Deaths - Cause: All causes - Risk: Discontinued breastfeeding - Sex: Both - Age: All Ages (Number)                6840 non-null   int64
 29  Deaths - Cause: All causes - Risk: Non-exclusive breastfeeding - Sex: Both - Age: All Ages (Number)               6840 non-null   int64
 30  Deaths - Cause: All causes - Risk: Iron deficiency - Sex: Both - Age: All Ages (Number)                           6840 non-null   int64
dtypes: int64(29), object(2)
memory usage: 1.6+ MB
['Entity', 'Code', 'Year', 'Deaths - Cause: All causes - Risk: Outdoor air pollution - OWID - Sex: Both - Age: All Ages (Number)', 'Deaths - Cause: All causes - Risk: High systolic blood pressure - Sex: Both - Age: All Ages (Number)', 'Deaths - Cause: All causes - Risk: Diet high in sodium - Sex: Both - Age: All Ages (Number)', 'Deaths - Cause: All causes - Risk: Diet low in whole grains - Sex: Both - Age: All Ages (Number)', 'Deaths - Cause: All causes - Risk: Alcohol use - Sex: Both - Age: All Ages (Number)', 'Deaths - Cause: All causes - Risk: Diet low in fruits - Sex: Both - Age: All Ages (Number)', 'Deaths - Cause: All causes - Risk: Unsafe water source - Sex: Both - Age: All Ages (Number)', 'Deaths - Cause: All causes - Risk: Secondhand smoke - Sex: Both - Age: All Ages (Number)', 'Deaths - Cause: All causes - Risk: Low birth weight - Sex: Both - Age: All Ages (Number)', 'Deaths - Cause: All causes - Risk: Child wasting - Sex: Both - Age: All Ages (Number)', 'Deaths - Cause: All causes - Risk: Unsafe sex - Sex: Both - Age: All Ages (Number)', 'Deaths - Cause: All causes - Risk: Diet low in nuts and seeds - Sex: Both - Age: All Ages (Number)', 'Deaths - Cause: All causes - Risk: Household air pollution from solid fuels - Sex: Both - Age: All Ages (Number)', 'Deaths - Cause: All causes - Risk: Diet low in vegetables - Sex: Both - Age: All Ages (Number)', 'Deaths - Cause: All causes - Risk: Low physical activity - Sex: Both - Age: All Ages (Number)', 'Deaths - Cause: All causes - Risk: Smoking - Sex: Both - Age: All Ages (Number)', 'Deaths - Cause: All causes - Risk: High fasting plasma glucose - Sex: Both - Age: All Ages (Number)', 'Deaths - Cause: All causes - Risk: Air pollution - Sex: Both - Age: All Ages (Number)', 'Deaths - Cause: All causes - Risk: High body-mass index - Sex: Both - Age: All Ages (Number)', 'Deaths - Cause: All causes - Risk: Unsafe sanitation - Sex: Both - Age: All Ages (Number)', 'Deaths - Cause: All causes - Risk: No access to handwashing facility - Sex: Both - Age: All Ages (Number)', 'Deaths - Cause: All causes - Risk: Drug use - Sex: Both - Age: All Ages (Number)', 'Deaths - Cause: All causes - Risk: Low bone mineral density - Sex: Both - Age: All Ages (Number)', 'Deaths - Cause: All causes - Risk: Vitamin A deficiency - Sex: Both - Age: All Ages (Number)', 'Deaths - Cause: All causes - Risk: Child stunting - Sex: Both - Age: All Ages (Number)', 'Deaths - Cause: All causes - Risk: Discontinued breastfeeding - Sex: Both - Age: All Ages (Number)', 'Deaths - Cause: All causes - Risk: Non-exclusive breastfeeding - Sex: Both - Age: All Ages (Number)', 'Deaths - Cause: All causes - Risk: Iron deficiency - Sex: Both - Age: All Ages (Number)']

,Entity,Code,Year,Deaths - Cause: All causes - Risk: Outdoor air pollution - OWID - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: High systolic blood pressure - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Diet high in sodium - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Diet low in whole grains - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Alcohol use - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Diet low in fruits - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Unsafe water source - Sex: Both - Age: All Ages (Number),...,Deaths - Cause: All causes - Risk: High body-mass index - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Unsafe sanitation - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: No access to handwashing facility - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Drug use - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Low bone mineral density - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Vitamin A deficiency - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Child stunting - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Discontinued breastfeeding - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Non-exclusive breastfeeding - Sex: Both - Age: All Ages (Number),Deaths - Cause: All causes - Risk: Iron deficiency - Sex: Both - Age: All Ages (Number)
4656,Philippines,PHL,1996,14118,39865,10589,5131,23620,3385,14564,...,14207,8227,5563,616,1243,1407,6399,405,3571,351
6761,Yemen,YEM,2001,4569,17141,725,5013,788,2106,14837,...,4634,11318,5943,201,534,1910,5418,349,5349,555
2779,Ireland,IRL,2009,799,5316,308,865,1530,446,1,...,2544,2,15,313,172,0,0,0,1,0
6533,Vietnam,VNM,2013,35595,145330,28720,9850,43220,14222,1441,...,27376,811,2452,8629,7102,23,495,4,439,41
1324,Cote d'Ivoire,CIV,1994,2938,8400,826,1165,4607,646,12137,...,3250,8878,8713,871,308,1632,4235,172,4390,545

The dataset contains 6,840 rows and 31 columns. Only the ‘Code’ column has some missing values, likely for aggregated regions such as ‘World’ or continents. All other variables are complete.

In [11]:
# Step 3 (continued): Rename the already-shortened columns to use the "Deaths_due_to_" format

df = df.rename(columns={
    "Outdoor_Air_Pollution": "Deaths_due_to_Outdoor_Air_Pollution",
    "High_Blood_Pressure": "Deaths_due_to_High_Blood_Pressure",
    "High_Sodium_Diet": "Deaths_due_to_High_Sodium_Diet",
    "Low_Whole_Grains": "Deaths_due_to_Low_Whole_Grains",
    "Alcohol_Use": "Deaths_due_to_Alcohol_Use",
    "Low_Fruit_Diet": "Deaths_due_to_Low_Fruit_Diet",
    "Unsafe_Water": "Deaths_due_to_Unsafe_Water",
    "Secondhand_Smoke": "Deaths_due_to_Secondhand_Smoke",
    "Low_Birth_Weight": "Deaths_due_to_Low_Birth_Weight",
    "Child_Wasting": "Deaths_due_to_Child_Wasting",
    "Unsafe_Sex": "Deaths_due_to_Unsafe_Sex",
    "Low_Nuts_Seeds": "Deaths_due_to_Low_Nuts_Seeds",
    "Household_Air_Pollution": "Deaths_due_to_Household_Air_Pollution",
    "Low_Vegetables": "Deaths_due_to_Low_Vegetables",
    "Low_Physical_Activity": "Deaths_due_to_Low_Physical_Activity",
    "Smoking": "Deaths_due_to_Smoking",
    "High_Blood_Glucose": "Deaths_due_to_High_Blood_Glucose",
    "Air_Pollution_Total": "Deaths_due_to_Air_Pollution_Total",
    "High_BMI": "Deaths_due_to_High_BMI",
    "Unsafe_Sanitation": "Deaths_due_to_Unsafe_Sanitation",
    "No_Handwashing": "Deaths_due_to_No_Handwashing",
    "Drug_Use": "Deaths_due_to_Drug_Use",
    "Low_Bone_Density": "Deaths_due_to_Low_Bone_Density",
    "Vitamin_A_Deficiency": "Deaths_due_to_Vitamin_A_Deficiency",
    "Child_Stunting": "Deaths_due_to_Child_Stunting",
    "Discontinued_Breastfeeding": "Deaths_due_to_Discontinued_Breastfeeding",
    "NonExclusive_Breastfeeding": "Deaths_due_to_NonExclusive_Breastfeeding",
    "Iron_Deficiency": "Deaths_due_to_Iron_Deficiency"
})

# ✅ Double-check that it worked
print(df.columns.tolist())

['Country', 'Country_Code', 'Year', 'Outdoor_Air_Pollution_Deaths', 'Deaths_due_to_High_Blood_Pressure', 'Deaths_due_to_High_Sodium_Diet', 'Deaths_due_to_Low_Whole_Grains', 'Deaths_due_to_Alcohol_Use', 'Deaths_due_to_Low_Fruit_Diet', 'Deaths_due_to_Unsafe_Water', 'Deaths_due_to_Secondhand_Smoke', 'Deaths_due_to_Low_Birth_Weight', 'Deaths_due_to_Child_Wasting', 'Deaths_due_to_Unsafe_Sex', 'Deaths_due_to_Low_Nuts_Seeds', 'Deaths_due_to_Household_Air_Pollution', 'Deaths_due_to_Low_Vegetables', 'Deaths_due_to_Low_Physical_Activity', 'Deaths_due_to_Smoking', 'Deaths_due_to_High_Blood_Glucose', 'Deaths_due_to_Air_Pollution_Total', 'Deaths_due_to_High_BMI', 'Deaths_due_to_Unsafe_Sanitation', 'Deaths_due_to_No_Handwashing', 'Deaths_due_to_Drug_Use', 'Deaths_due_to_Low_Bone_Density', 'Deaths_due_to_Vitamin_A_Deficiency', 'Deaths_due_to_Child_Stunting', 'Deaths_due_to_Discontinued_Breastfeeding', 'Deaths_due_to_NonExclusive_Breastfeeding', 'Deaths_due_to_Iron_Deficiency']